@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Homemade+Apple&family=Press+Start+2P&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visible {
  opacity: 1 !important;
}

#navpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e9f0f6;
  min-height: 100vh;

  #welcome {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(237, 89, 215, 0.715);
  }
  
  #tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .bubble {
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgba(255, 204, 110, 0.791);
    width: fit-content;
  }

  h1 {
    font-size: 3rem;
    color: rgb(18, 34, 67);
    margin: 1rem;
    padding: 1rem;
    font-family: Poppins, sans-serif;
    }

  #article-section {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

    .article-card {
      display: flex;
      flex-direction: column;
      background-color: #f9f9f9;
      border-radius: 2rem;
      width: 400px;
      min-height: 660px;
      box-shadow: 0px 0px 10px rgb(184, 184, 184);
      overflow: hidden;

      #tags{
        display: flex;
        flex-wrap: wrap;

        p{
          margin: 0;
        }
      }
  
      img {
        background-color: rgb(43, 43, 43);
        max-width: 600px;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      p{
        margin-top: 2rem;
      }

      .text-section {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);

        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

      }

      &:hover {
        transition: ease-in 0.5s;
        box-shadow: 0px 0px 15px #00000038;
        background-color: rgb(255, 241, 254);
      }
    }
  }
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}
.leaflet-tile {
  filter: grayscale(60%) !important;
}

.faded {
  opacity: 20%;
  transition: ease-in;
}

//Kilde: https://dev.to/selbekk/how-to-fade-in-content-as-it-scrolls-into-view-10j4
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
  visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.paragraph {
  color: white;
  font-size: 1.3rem;
  padding: 2rem;
  max-width: 700px;
  width: 100%;
  border-radius: 10px;

  h3{
    font-size: 2rem;
  }
}
 
#avocado-body {
  background: linear-gradient(rgb(87, 156, 79), rgb(11, 24, 12));

  .avo-header {
    background-image: url("../photos/avo.jpg");
    background-size: cover;
    box-shadow: 0px 0px 50px rgb(33, 112, 23);
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1{
      text-shadow: 0px 0px 30px rgba(255, 242, 198, 0.444);
    }

    p{
      color: white;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.756);
    }
  
    #back{
      &:hover{
        background-color: rgb(216, 255, 216);
        color: black;
      }
    }
  }

  #main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      margin-bottom: 10vh;
    }

    #timeline {
      background-color: rgb(117, 207, 81);
      width: 20px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
    }

    .timeline-stop {
      font-size: 3rem;
      color: rgb(199, 246, 199);
      border-radius: 10px;
      text-align: center;
      padding-left: 22rem;
      padding-top: 3rem;
      z-index: 1;
    }

    a{
      color:rgb(111, 233, 111);
      text-decoration: underline;
    }

    .paragraph {
      max-width: 500px;
      color: rgb(216, 255, 216);
      margin-right: 12rem;
      margin-left: 12rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        color: rgb(231, 255, 231);
      }
    }

    #sticky-images {
      width: 100vw;
      padding-bottom: 30vh;

      &#sticky-images * {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        position: sticky;
        width: 60vw;
        border-radius: 5px;
        z-index: 15;

        .article-title{
          padding: 1rem;

          &.article-title * {
            font-family: Heebo;
            margin: 0.5rem;
          }

          h3{
            position: static;
            font-size: 2rem;
          }
  
          &.dark{
            background-color: #1d1d1d;
            color: white;
          }
  
          &.light{
            background-color: white;
          }
        }
      }

      :nth-child(1){
          top: 100px;
          margin-top: 40px;
          margin-left: 3vw;
      }

      :nth-child(2){
          top: 450px;
          margin-top: 300px;
          margin-left: 30vw;
      }

      :nth-child(3){
        top: 240px;
        margin-top: 300px;
        margin-left: 20vw;
      } 

      :nth-child(4){
        top: 330px;
        margin-top: 300px;
        margin-left: 3vw;
      } 

      :nth-child(5){
        top: 70px;
        margin-top: 300px;
        margin-left: 30vw;
      } 

      :nth-child(6){
        top: 230px;
        margin-top: 300px;
        margin-left: 33vw;
      } 

      :nth-child(7){
        top: 470px;
        margin-top: 300px;
        margin-left: 5vw;
      } 

      :nth-child(8){
        top: 300px;
        margin-top: 300px;
        margin-left: 17vw;
        margin-bottom: 30vh;
      }
    }
  }

}


#ending{
  max-width: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40vh 0vh 35vh 0vh;
  // background: linear-gradient(#132513, #0b180c);
  background-color: rgb(8, 22, 8);

  .paragraph{
    color: #d8ffd8;
  }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;

  h1{
    color: rgb(0, 0, 0);
    width: 100vw;
    text-align: center;
  }

  #back{
    position: fixed;
    left: 30px;
    top: 30px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #1d1d1d;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.7rem;
    border-radius: 50%;
    z-index: 1;
    width: 70px;

    &:hover {
      cursor: pointer;
    }
  }

  p{
    font-size: 1.3rem;
  }
}

#intro {
  background-color:rgba(14, 14, 14, 0.886);
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  max-width: 600px;
  margin: 40vh auto 40vh auto;
  border-radius: 10px;
}

h1 {
  color: rgb(7, 15, 5);
  font-family: bebas neue;
  font-size: 8rem;
}

.article-p {
  background-color:rgb(7, 15, 5);
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 3rem auto 3rem auto;
}

.row-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem 0 1rem;
  height: fit-content;
}

.story-img{
  max-width: 50vw;
  width: 100%;
  height: auto;
}

#blood-donation-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: rgb(251, 208, 215);
  background-color: rgb(255, 238, 241);

  &:last-child{
    padding-bottom: 10vh;
  }


  .blood-donation-header{
    background-image: url("../photos/blodceller.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30vh;

    #intro{
      background-color: rgba(151, 61, 61, 0.913);
      color: rgb(255, 226, 226);
    }

    h1{
      text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.648);
      margin-bottom: 2rem;
    }

    p{
      position: sticky;
    }

    #back {
      z-index: 100;
      &:hover {
        background-color: #b93636;
      }
    }
  }

  #vocab-btn{
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.5rem;
    z-index: 70;
    border-radius: 3rem;
    padding: 1rem;
    border: none;
    background-color: rgb(29, 29, 29);
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #b93636;
    }
  }

  #vocab{
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 600px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    z-index: 99;
    border-radius: 10px;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    h3{
      margin: 1.5rem;
      font-size: 1.2rem;
    }

    li {
      margin: 1rem;
      padding-right: 20px;
    }

    button{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2rem;
      padding: 0.7rem;
      width: fit-content;
      margin: 1rem;
      border-radius: 3rem;
      border: none;

      &:hover {
        background-color: pink;
        cursor: pointer;
      }
    }
  }

  #blood-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    #map-section{
      position: relative;
      margin-top: 20vh;
      height: 250vh;

      article{
        width: 30vw;
        background-color: white;
        margin-top: 30vh;
        margin-bottom: 90vh;
        margin-left: 1rem;
        z-index: 10;
        position: relative;
        border-radius: 1rem;
        padding: 1rem;

        .map-img{
          width: 100%;
          object-fit: contain;
        }

        .imgtxt{
          font-size: 0.9rem;
          color: rgb(83, 83, 83);
        }
      }

      #map{
        position: sticky;
        top: 0px;
        z-index: 2;
      }
    }

    .pose{
      background: url("../photos/blod4-utenPose.png");
    }

    .bil{
      background: url("../photos/blod2.png");
    }

    .img-container{
      min-width: 50vw;
      height: 100vh;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .blod-bilde{
      max-width: 40vw;
      width: 100%;
      object-fit: contain;

      &.blood-section * {
        width: 100%;
      }
    }

    #blod-pose{
      max-width: 18vw;
      width: 100%;
      margin-left: 10vw;
      height: auto;
      animation-name: spin;
      animation-duration: 10000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; 
    
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    }

    #blood-transfer {
      width: 80vw;
    }

    .gap{
      margin-top: 10vh;
    }

    .gap-under{
      margin-bottom: 10vh;
    }

    .paragraph {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: #f5e4e4;
      color: black;
      border: 8px solid #811520;
      //margin: 20vh 0 0 0;

      #stats{
        max-width: 85vw;
        width: 500px;
        align-self: center;
      }

      .row{
        display: flex;
        flex-direction: row;
        align-items: center;

        p{
          padding: 1rem 1rem 1rem 0;
        }
      }

      .small-img{
          width: 250px;
          height: fit-content;
          border-radius: 5px; 
      }

      .medium-img{
        width: 300px;
        height: fit-content;
        border-radius: 5px; 
    }

      &.story{
        border: 8px solid rgb(34, 8, 8);
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
          display: flex;
          flex-direction: row;
          align-items: center;

          p{
            padding: 5rem;
          }
        }
      }

      a{
        color: #811520;
        text-decoration: underline;
      }

      video{
        width: 100%;
        height: auto;
        border-radius: 1.5rem;
      }

      img{
        border-radius: 10px;
      }
    }

    #blodtyper{
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }
  }
}

#caffeine-body{

  .caffeine-header {
    background-image: url("../photos/kaffebønner.jpg");
    background-size: cover;
    background-position: left 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    h1{
      color: white;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.806);
    }

    p{
      color: white;
    }
  
    #back{
      &:hover{
        background-color: #d03333;
      }
    }
  }

  #main-section {
    background-color: rgb(255, 242, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .txt-img{
      display: flex;
      flex-direction: row;
      justify-content: center;

      .paragraph{
        position: absolute;
        justify-self: center;
        align-self: center;
        margin: 0;

        .pg-img{
          border: 2px solid #1d1d1d;
          border-radius: 10px;
        }
      }
    }

    .paragraph{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: black;
      margin: 40vh 0vh 20vh 0vh;
      background-color: rgb(255, 252, 250);
      box-shadow: 0px 0px 30px rgb(117, 81, 58);

      &:last-child{
        margin-bottom: 40vh;
      }

      a{
        color: rgb(209, 21, 0);
        text-decoration: underline;
      }
    }

    .bg-img{
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }

  h3{
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  .small-img{
    object-fit: contain;
    width: 30vw;
    margin: 0vh 0vh 30vh 0vh;
  }

  #caffeine-test{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 30vh;

    h3{
      font-size: 2rem;
    }

    p{
      font-size: 1.5rem;
      margin-top: 2rem;
    }

    .answer{
      margin-bottom: 2rem;
    }

    .quiz-img{
      width: 40vw;
      border-radius: 10px;
    }

    .row-div{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .choice{
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 3rem;
        background: linear-gradient(rgb(220, 132, 132), rgb(207, 47, 47));
        color: white;
        border: none;
    
        &:hover {
          background: linear-gradient(rgb(184, 0, 0), rgb(207, 47, 47));
    
        }
      }
    }
  }
}

#colourblindness-body{
  background-color: rgb(255, 255, 255);

  .colourblindness-header{
    background-image: url("../photos/julekule.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0px;
    background-attachment: fixed;

    h1{
      color: white;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.702);
    }

    p{
      color: rgb(253, 253, 253);
    }

    #intro{
      background-color: rgb(21, 21, 21);
    }

    #back {
      &:hover {
        background-color:rgba(239, 228, 228, 0.877);
        color: black;
      }
    }
  }

  #main-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;

    .txt-img{
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 100vw;
      width: 100%;
      object-fit: cover;
      overflow: hidden;

      .paragraph{
        position: absolute;
        justify-self: center;
        align-self: center;
        margin: 0;
      }

      .bg-img{
        width: 100%;
      }
      
    }

    .window-section{
      background-size: cover;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slider-section{
      position: relative;
      height: 600px;
      width: 800px;
      object-fit: cover;
      overflow: hidden;
      flex-grow: 1;
      margin-top: 20vh;

      h3{
        padding: 1rem;
      }

      img{
        height: 100%;
      }

      .slider-img1{
        position: absolute;
      }
     
    }

    .paragraph {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: black;
      margin: 30vh 0vh 30vh 0vh;
      background-color: rgba(255, 255, 255, 0.877);
      border-radius: 1rem;
      box-shadow: 0px 0px 30px rgba(226, 191, 191, 0.608);

      a{
        color: rgb(182, 19, 19);
        text-decoration: underline;
      }

      video{
        align-self: center;
      }
    }

    .xx-xy{
      position: relative;
    }

    #xx-woman{
      width: 160px;
      position: absolute;
      left: -15vw;
      top: 50px;
    }

    #xy-man{
      width: 130px;
      position: absolute;
      right: -15vw;
      top: 50px;
    }


    .row-div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
      #xy-img{
        max-width: 400px;
        width: 100%;
      }

      .carousel{
        position: relative;
        margin: 20vh 0 20vh 0;

        h3{
          padding: 1rem;
        }

        img{
          height: 80vh;
          border-radius: 10px;
          position: relative;
        }

        .slide_direction {
          display: flex;
          justify-content: space-between;

        }
        .left,
        .right {
          background-color: #db7a7aa7;
          color: #fff;
          padding: 13px 8px 8px 13px;
          margin: 0 20px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 10px;
          height: 25px;
          width: 25px;

          &:hover{
            background-color: rgba(255, 255, 255, 0.651);
            cursor: pointer;
          }
        }
        .left {
          left: 0;
        }
        .right {
          right: 0;
        }

        .indicator {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          gap: 20px;
        }

        .dot {
          background-color: #333;
          width: 15px;
          height: 15px;
          border-radius: 50%;

          &:hover{
            cursor: pointer;
          }

          &.active {
            background-color: #bc3434;
          }
        }
      }

  }
}

@media (max-width: 1200px) {

  #caffeine-body{

    #caffeine-test{
      text-align: center;

      h3{
        font-size: 1.2rem;
        padding: 1rem;
      }

      p{
        font-size: 1.2rem;
      }

      .quiz-img {
        width: 60vw;
      }
    }

    .small-img{
      width: 50vw;
    }
  }


  #colourblindness-body{
    #main-section{

      .xx-xy{
        display: flex;
        align-items: center;

        h3{
          align-self: flex-start;
        }
      }

      .row-div{
        width: 100%;
      }

      #xx-woman{
        width: 120px;
        position: relative;
        left: 0px;
        top: 0px;
      }
    
      #xy-man{
        width: 97px;
        position: relative;
        right: 0px;
        top: 0px;
      }

      .txt-img{
        height: 100vh;
        width: auto;
  
        .bg-img{
          width: auto;
        }
    }
  }
  }

  #avocado-body{
    #main-section{
      .row-div{
        margin: 0rem 0.2rem 0rem 0.2rem;
      }
  
      .paragraph{
        margin-left: 0.5rem;
        margin-right: 0rem;
      }

      .story-img{
        width: 50vw;
      }
    }
  }

  #blood-donation-body {   
    #blood-section {
      .img-container{
        max-height: 80vh;
        width: 80vw;
      }

      #blod-pose{
        max-width: 20vw;
      }
    }
  }
}

@media (max-width: 950px) {

  #navpage {

  h1 {
    font-size: 2rem;
  }

  #welcome{
    margin: 0 1rem;
  }

    #article-section {
      .article-card {
        width: 300px;
      }
      }
  }

  #header{
    h1 {
      font-size: 3rem;
    }
  }

  #avocado-body{

    #main-section{
      .row-div{
        flex-direction: column-reverse;
      }

      .reverse{
        flex-direction: column;
      }

      .story-img{
        max-width: 100vw;
        width: 100vw;
      }
  
      .paragraph{
        margin-top: 0rem;
      }

      #timeline {
        left: 0px;
      }
    
      .timeline-stop {
        height: fit-content;
        width: 100vw;
        margin: 0rem;
        font-size: 2rem;
        padding-left: 4rem;
        text-align: start;
      }
    }
  }


  #blood-donation-body {   
    #blood-section {
      .img-container{
        height: 80vh;
        width: 80vw;
      }

      #blod-pose{
        max-width: 20vw;
      }
    }
  }
}

@media (max-width: 750px) {

  .paragraph{
    font-size: 1rem;
    border-radius: 1rem;
    margin-right: 0rem;
    padding: 1rem;
    max-width: 80vw;
    
    h3{
      font-size: 1.5rem;
    }

    p, h3{
      padding: 0rem 1rem 0rem 1rem;
    }
  }

  #navpage {

    h1 {
      font-size: 1.2rem;
    }
  
    // #welcome {
    //   display: none;
    // }
  
      #article-section {
        margin: 2rem 0;
        gap: 1rem;

        .article-card {
          width: 80vw;
        }
        }
    }
    #header{
      #back{
        top: unset;
        bottom: 10px;
        left: 10px;
        padding: 1rem;
        border-radius: 3rem;
        font-size: 1.5rem;
        text-align: center;
      }

      #intro{
        margin: 30vh auto 40vh auto;
      }
    }

    #blood-donation-body{
      #vocab-btn{
        top: unset;
        bottom: 10px;
        right: 10px;
        padding: 1rem;
        margin: 0;
        border-radius: 3rem;
        font-size: 1.2rem;
      }

      // position: fixed;
      // top: 20px;
      // right: 20px;
      // max-width: 600px;
      // width: 100%;
      // background-color: rgb(29, 29, 29);
      // color: white;
      // z-index: 1;
      // border-radius: 10px;
      // padding: 1rem;

      #vocab{
        width: 100vw;
        height: 100vh;
        top: 0px;
        right: unset;
      }

      #blood-section{

      .paragraph{
        &.story{
  
          div{
            flex-direction: column;

            p{
              padding: 1rem;
            }
          }
        }

        .row{
          flex-direction: column;

        p{
          padding: 1rem 1rem 1rem 1rem;
        }
        }
      }

      .row-div{
        flex-direction: column;
        margin: 0 0rem 0 0rem;
        gap: 1rem;
      }

        .blod-bilde{
          max-width: 90vw;
          width: 100%;
        }

        #blod-pose{
          max-width: 27vw;
        }

        #map-section{
          article{
            width: 60vw;
            font-size: 0.8rem;
          }
        }

      }
    }

    #caffeine-body{
      .caffeine-header{

        h1{
          margin-left: 1rem;
          margin-right: 1rem;
          width: 90vw;
        }

        .paragraph{
          h3{
            font-size: 0.5rem;
          }
        }
      }

      h3{
        font-size: 1.2rem;
      }

      .small-img{
        width: 70vw;
      }
  
      #caffeine-test{
        .quiz-img {
          max-width: 100vw;
          width: 100vw;
        }
  
        .row-div{
          .choice{
            margin: 0.5rem;
            font-size: 1.2rem;
          }
        }
      }
    }

    #colourblindness-body{
      background-color: rgb(229, 240, 232);
    
      .colourblindness-header{
        background-image: url("../photos/julepynt.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0px;
    
        #back {
          &:hover {
            background-color:rgba(239, 228, 228, 0.877);
            color: black;
          }
        }
      }
    
      #main-section {
    
        .slider-section{
          height: 300px;
          width: 100vw;
        }
     } 
    }

    #avocado-body{

      #main-section{
        .paragraph{
          margin-left: 1rem;
          max-width: 90vw;
        }

        #sticky-images {
    
          &#sticky-images * {
    
            .article-title{
    
              &.article-title * {
                font-family: Heebo;
                margin: 0.2rem;
              }
    
              h3{
                font-size: 1.5rem;
              }
            }
          }
        }    
      }
    }
}

@media (max-width: 500px) {
  #blood-donation-body{
    #blood-section{
      .img-container{
        height: 50vh;
        width: 90vw;
      }

      #blodtyper{
        width: 85vw;
        height: auto;
      }
    }
  }
  
  #colourblindness-body{
  #main-section{
    .slider-section{
      height: fit-content;

      h3{
        padding: 1rem;
      }
    }

    .carousel{
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img{
        height: 70vh;
      }
      }
    }
  }
}